@import url('https://fonts.googleapis.com/css?family=Marck+Script&subset=cyrillic,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=Ruslan+Display');
@import url('https://fonts.googleapis.com/css?family=Caveat');
a{
    text-decoration: none;
    color: black;
}

.header{
    margin-left: 42%;
    margin-top: 142.5px;
    font-size: 49px;
    letter-spacing: 0.6px;
    position: relative;
}
.text1{
    margin-left: 41%;
    position: relative;
    margin-top: -17px;
    font-size: 19px;
    letter-spacing: 0.81px;
    font-family: 'Caveat', cursive;
   }
.cont1{
    display: inline-flex;
    width: 84%;
    justify-content: space-around;
    position: relative;
    margin-top: 32.5px;
    margin-left: 8%;
    margin-right: 1.3%;
}
.cont1__1{
    width: 30.75%;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
}
.img1{
    width: 100%;
    height: auto;
    z-index: 3;
}
.img2:hover{
    width: 110%;
    height: auto;
    transition: 500ms;
}
.img2{
    width: 100%;
    height: auto;
    z-index: 2;
}
.img3{
    width: 100%;
    height: auto;
    z-index: 1;
}
.img3:hover{
    width: 110%;
    height: auto;
    transition: 500ms;
}
.img1:hover{
    width: 110%;
    height: auto;
    transition: 500ms;
}
.img4:hover{
    width: 110%;
    height: auto;
    transition: 500ms;
}
.img6:hover{
    width: 110%;
    height: auto;
    transition: 500ms;
}
.img5:hover{
    width: 110%;
    height: auto;
    transition: 500ms;
}
.cont1__2{
    width: 30.7%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.cont1__3{
    width: 30.7%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.text1__1{
    margin-top: 23px;
    font-size: 23.3px;
}
.ch{
    width: 17px;
    height: 17px;
}
.strelka{
    width: 25px;
    height: 12px;
}

.text1__2{
    margin-top: 21px;
    font-size: 23.5px;
}
.text1__3{
    margin-top: 23px;
    font-size: 23.5px;
    letter-spacing: 0.5px;
}
.Desing{
    margin-top: -17px; 
    margin-left: 20px;
}
.lorem{
    margin-left: 1px;
    margin-top: -11px; 
 }
 .word{
    margin-top: -17px; 
    margin-left: 20px;
 }
 .Desing2{
    margin-top: -17px; 
    margin-left: 20px;
}
.read{
    margin-top: 3px;
    font-size: 18px;
}
.read3{
    margin-top: 5px;
    font-size: 18px;
}
.img4{
    width: 100%;
    height: auto;
    margin-top: 41px;
    z-index: 3;
}

.img5{
    width: 100%;
    height: auto;
    margin-top: 11px;
    z-index: 2;
}
.img6{
    width: 100%;
    height: auto;
    margin-top: 41px;
    z-index: 1;
}
.October{
    position: relative;
    margin-top: -20px;
    margin-left: 5%;
    color: aliceblue;
    z-index: 2;
}
.October4{
    position: relative;
    margin-top: -25px;
    margin-left: 5%;
    color: aliceblue;
    z-index: 2;
}
.elem1{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
}
.Subscribe{
    margin-top: 210px;
    font-size: 24px;
    margin-left: 40%;
    font-family: 'Lobster', cursive;
}

.enter_button{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    width: 34%;
    height: auto;
    position: relative;
    margin-left: 34%;
}
.SUBCRIBE__BUTTON{
    margin-left: 18%;
    background-color: rgb(110, 105, 141);
    width: 100%;
    height: 55px;
    border-color:rgb(110, 105, 141);
    border-style: solid;
    border-radius: 15px;
    color: white;
    font-size: 18px;
}
.icons{
    display: inline-flex;
    margin-left: 77.3%;
    margin-top: 102px;
}
.g{
    position: relative;
    margin-left: 28%;
}
.twitter_icon{
    position: relative;
    margin-left: 28%;
}
.icon4{
    position: relative;
    margin-left: 28%;
}
.instagram{
    position: relative;
    margin-left: 35%;
    margin-top: 5px;
}
.a_link{
    color: rgb(20, 20, 19);
    text-decoration: underline;
}
.a_link:hover{
    color:green;
    transition: 500ms;
}
.link{
    color:red;
}
.link:hover{
    color:rgb(70, 16, 121);
    transition: 5000ms;
}
.spisok{
    border-color:rgb(110, 105, 141);
    border-style: solid;
    border-radius: 5px;
    background-color: powderblue;
    margin-left: 55px;
}
.enter{
    width: 170%;
    height: 50px;
    border-color: grey;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
}

.enter::placeholder{
   padding-top: 5px;
}
.ocenka{
    color: rgb(36, 240, 80);
    text-decoration: underline; 
    font-size: 20px;
}
.ocenka:hover{
    color:rgb(222, 250, 100);
    transition: 5000ms;
}
.labels{
    display: inline-flex;
    width: 84%;
    justify-content: space-around;
    position: relative;
}
.labels1{
    width: 30.75%;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 1%;
}
.horosh{
    margin-top: -10px;
}
.neponyat{
    margin-top: -10px;
}
.nogi{
    margin-top: -10px; 
}

.st {
    border: none;
    text-decoration: none;
    background-color: transparent;
    position: relative;
    margin-left: -16%;
    margin-top: -12px;
    font-size: 21px;
    width: 142%;
}

.select_div{
    display: inline-block;
    position: relative;
}

.select_div:after {
    content: url("options_icon.jpg");
    padding: 0 -20px;
    position: absolute;
    top: 0px;
    right: -20px;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    pointer-events: none;
    z-index: 2;
    width: 10%;
    height: 100%;
}
.select_div2:after {
    content: url("bel.png");
    padding: 0 -20px;
    position: absolute;
    top: -10px;
    right: -50px;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    pointer-events: none;
    z-index: 1;
    width: 10%;
    height: 100%;
}

@media screen and (max-width:1300px)
{
    .enter_button {
        width: 44%;
    }
}

@media screen and (max-width:1010px)
{
    .enter_button {
        width: 55%;
    }
    .header {
        font-size: 38px;
        margin-left: 38%;
    }
    .text1 {
        margin-left: 36%;
    }

    .text1__1 {
        font-size:18px;
    }
    .text1__2 {
        font-size:18px;
    }
    .text1__3 {
        font-size:18px;
    }

}

@media screen and (max-width:815px)
{
    .enter_button {
        display: flex;
        flex-direction: column;
        height: 150px;
    }
    .enter {
        width:75%;
    }

    .SUBCRIBE__BUTTON {
        margin-left: 0%;
        width:75%;
    }
}

@media screen and (max-width:720px)
{
    .enter_button {
        display: flex;
        flex-direction: column;
        height: 150px;
        width: 95%;
        margin-left: 2.5%;
    }
    .enter {
        width:100%;
    }

    .SUBCRIBE__BUTTON {
        margin-left: 0%;
        width:100%;
    }

    .Subscribe {
        margin-left: 32%;
        margin-top: 35px;
    }

    .cont1 {
        display: flex;
        flex-direction: column;
        width: 95%;
        margin-left: 2.5%;
    }

    .cont1__1 {
        width: 100%;
    }
    .cont1__2 {
        width: 100%;
    }
    .cont1__3 {
        width: 100%;
    }

    .img1:hover{
        width: 100%;
    }
    .img2:hover{
        width: 100%;
    }
    .img3:hover{
        width: 100%;
    }
    .img4:hover{
        width: 100%;
    }
    .img5:hover{
        width: 100%;
    }
    .img6:hover{
        width: 100%;
    }
}